/* --------- Only Visible in the Less File --------- */
/* -------------------- Mix-ins -------------------- */
/* ------------------- Variables ------------------- */
/* ------------------- Header CSS ------------------- */
.paddingHead {
	position: relative;
	padding-top: 50px;
}
